p{
    font-family: 'Montserrat';
    font-size: 13px;
}
body{
    background-image: url('../img/aviso/Helpo-Aviso-de-Privacidad.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
}